{
  "presets": [
    [ "@babel/preset-env", { "modules": "auto" } ]
  ],
  "plugins": [
    "@babel/transform-runtime",
     ["@babel/plugin-proposal-class-properties", { "loose": true }]
  ],
  "ignore": [
    "**/*.test.js"
  ]
}
