{
  "parser": "@typescript-eslint/parser",
  "plugins": [],
  "extends": [
    "eslint:recommended",
    "prettier"
  ],
  "env": {
    "node": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "rules": {
    "no-constant-condition": ["error", { "checkLoops": false }],
    "no-empty-function": "off",
    "no-unused-vars": "off",
    "no-redeclare": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/no-explicit-any": "off"
  }
}
