{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "standard",
    "plugin:prettier/recommended",
    "prettier/standard"
  ],
  "env": {
    "node": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "legacyDecorators": true,
      "jsx": true
    }
  },
  "rules": {
    "space-before-function-paren": 0,
    "import/export": 0
  }
}
